body{
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; 
    color: #333;
    padding: 20px;
}

h1 {
    color: #2a72ff;
    text-align: center;
      font-family: "Playwrite NZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
    color: #444; 
    border-bottom: 2px solid #2a72ff;
    padding-bottom: 5px;
    width: 50%; 
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

button {
    background-color: #2a72ff; 
    color:white; 
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer; 
}

button:hover {
    background-color: #1a54c9; 
}

img {
    width: 300px;
    border: 4px solid #2a72ff;
    border-radius: 10px; 
}

#important-message{
    background-color:#fff3c4;
}

.highlight {
    background-color: #d9ebff;
    padding: 8px;
}

.container {
    display: grid; 
     grid-template-rows: repeat(4fr);
    
}

#sketch1-container{
grid-row-start: 1; 
  grid-row-end: 3; 
}

#sketch2-container{
grid-row-start: 3; 
  grid-row-end: 5; 
}